.main-body {
  padding: 100px 100px 100px 100px;
  max-width: 100%;
  background: #C0C0C0;
  background-attachment: inherit;
  position: inherit;
}
.account-title {
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 10px;
  margin-bottom: 60px;
  color: #000000;
  font-weight: 400;
}
.main-view-page {
  margin: 0 5px 0 5px;
}
@media only screen and (max-width: 768px) {
  .main-view-page {
      margin: 0;
  }
  h3 {
      font-size: 20px;
  }
  p {
      font-size: 13px;
  }
  .badge {
      font-size: 11px;
  }
}
/* business-nav */
.category-tags {
  margin-bottom: 30px;
  
}
.category-tags span {
  padding: 15px;
  background: #47525E;
  margin-bottom: 5px;
}
.category-tags a span {
  color: #FFFFFF;
}
.category-tags span:hover {
  background: #C0C0C0;
  color: #47525E;
}

.category-tags a:active {
  background: #C0C0C0;
}
/* one-business-view */
.business-view {
  margin-bottom: 30px;
  border: 1px solid #e6e6e6;
  padding: 30px;
  background: #FFFFFF;
  border-radius: 15px;
}

.business-view .link-class {
  display: table;
  margin: 10px;
  text-decoration: none;
}

.business-view p {
  color: #000;
}

.business-view a .image, .business-view .link-class .text {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 767.98px) {
  .business-view a .image, .business-view a .text {
    display: block;
  }
}

.business-view a .image {
  width: 200px;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 767.98px) {
  .business-view a .image {
    width: 100%;
    height: 200px;
  }
}

.business-view .link-class .text {
  padding: 30px;
  width: calc(100 - 200px);
  border: 1px solid #e6e6e6;
  border-left: none;
}

@media (max-width: 767.98px) {
  .business-view .link-class .text {
    width: 100%;
    height: 200px;
    border: 1px solid #e6e6e6;
    border-top: none;
  }
}

.business-view .link-class .text h2 {
  font-size: 20px;
}

.business-view .link-class .text p {
  color: #999999;
  margin-bottom: 30px;
}

.business-view .link-class:hover {
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 4px 20px 0 rgba(0, 0, 0.1, 0.1); */
  box-shadow: 0 4px 20px 0 #9fcdff;
  background: #e6e6e6;
}

.business-text {
  color: #808080;
  font-family: "Josefin Sans", arial, sans-serif;
  font-weight: 10;
}
