<main class="main-content">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 com-xs-12">
              <div class="main-login-page">
                  <p>Sign in to your account</p>
                  <form>
                    <div class="form-input-division">
                        <input type="email"
                            name="email"
                            class="form-text-input form-control"
                            placeholder="Email"
                            required
                        />
                    </div>
                    <div class="form-input-division">
                        <input type="password"
                            id="password"
                            name="password"
                            class="test form-text-input form-control"
                            placeholder="Password"
                            required
                        />
                    </div>
                    <div class="form-input-division">
                        <button type="submit" class="btn btn-primary input-default form-btn">Sign In</button>
                    </div>
                    <div class="form-input-division">
                        <a class="nav-link" href="">Forgot password?</a>
                    </div>
                    <hr />
                    <div class="form-input-division">
                        <a class="nav-link" href="">You don't have an account?</a>
                    </div>
                </form>
              </div>
          </div>
      </div>
  </div>
</main>