<main class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h4>WeConnect</h4>
                  <p class="landing-content">
                      Connect with a vibrant, International business network by sign-up in
                      <i>WeConnect</i> today for <strong>FREE</strong>!!!
                  </p>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h4>Resources</h4>
                  <p class="landing-content">
                      Find <strong>Resources</strong> and other key assets you may need
                      to grow your <i>business</i>.
                  </p>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h4>Business Search</h4>
                  <p class="landing-content">
                      Search our directory of 993 registered business with 200 unique
                      locations through out <strong>Kenya</strong>.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 offset-md-2">
                <p>Sign up to register a business</p>
                <form>
                  <div class="row">
                    <div class="col">
                      <input type="email"
                              name="email"
                              class="test form-text-input form-control"
                              placeholder="Email Address"
                              required
                      />
                    </div>
                    <div class="col">
                      <input type="text"
                              class="form-text-input form-control"
                              placeholder="Username"
                              name="username"
                              required
                      />
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col">
                      <input type="text"
                              class="form-text-input form-control"
                              placeholder="First name"
                              name="first_name"
                              required
                      />
                    </div>
                    <div class="col">
                      <input type="text"
                              class="form-text-input form-control"
                              placeholder="Last name"
                              name="last_name"
                              required
                      />
                    </div>
                  </div>
                  <hr/>
                  <div class="form-input-division">
                    <input type="password"
                            class="form-text-input form-control"
                            placeholder="Password"
                            name="password"
                            required
                    />
                  </div>
                  <div class="form-input-division">
                    <input type="password"
                            class="form-text-input form-control"
                            placeholder="Confirm password"
                            name="confirm_password"
                            required
                    />
                  </div>
                  <div class="form-input-division">
                      <button type="submit" class="btn btn-primary input-default form-btn">Sign Up</button>
                  </div>
                  <div class="form-input-division">
                      <a class="nav-link" href="">You have an account?</a>
                  </div>
                </form>
            </div>
        </div>
    </div>
</main>
